@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');
* {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    
    /* ### Primary */
    --LightRed: hsl(0, 100%, 67%);
    --LighterRed: hsla(0, 100%, 50%, 0.058);
    --OrangeyYellow: hsl(39, 100%, 56%);
    --OrangeyYellowLight: hsla(39, 100%, 56%, 0.08);
    --GreenTeal: hsl(166, 100%, 37%);
    --GreenTealLight: hsla(166, 100%, 37%, 0.08);
    --CobaltBlue: hsl(234, 85%, 45%);
    --CobaltBlueLight: hsla(234, 85%, 45%, 0.08);

    /* ## Gradients */
    --LightSlateBlue: hsl(252, 100%, 67%) ; /* background*/
    --LightRoyalBlue: hsl(241, 81%, 54%) ; /* background*/
    --VioletBlue: hsla(256, 72%, 46%, 1); /*  (circle) */
    --PersianBlue: hsla(241, 72%, 46%, 0); /*  (circle) */

    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.results-summary-component 
{
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--LightLavender) 0px 8px 22px;
    border-radius: 4%;

}
.results-card {
    /* background-color: var(--LightSlateBlue); */
    background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    width: 300px;
    height: 400px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    flex-grow: 1;
}

.results-card-title {
    color: var(--LightLavender);
    /* font-weight: bold; */
    font-size: 22px;
    margin-bottom: 20px;
}

.results-card-result-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 160px; */
    /* height: 180px; */
    /* margin: 30px 0px; */
    border-radius: 50%;
    /* border-radius: calc(height * width / 2); */
    /* width: calc(height); */
    /* height: calc(width); */
    max-width: 150px;
    max-height: 150px;
    padding: 40px;
    /* background-color: var(--VioletBlue); */
    background-image: linear-gradient(var(--VioletBlue), var(--PersianBlue));

}

.results-card-result-circle-result {
    color: var(--White);
    font-weight: 700;
    font-size: 60px;

}

.results-card-result-circle-result-subtext {
    color: var(--LightLavender);
    font-size: smaller;
}

.subtext {
    color: var(--LightLavender);
    font-size: smaller;
}

.results-card-message-text {
    margin: 15px;
    color: var(--White);
    font-size: 28px;
}

.results-card-message-subtext {
    color: var(--LightLavender);
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

.summary-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: var(--White);
    width: 300px;
    height: 400px;
    padding: 30px 20px;
    border-radius: 4%;
}

.summary-card-title {
    font-size: 22px;
    color: var(--DarkGrayBlue);
    font-weight: 700;
    margin-bottom: 10px;
}

.summary-card-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 11px 10px;
    border-radius: 10px;
}

.summary-card-item-reaction 
{
    background-color: var(--LighterRed);

}
.summary-card-item-memory {
    background-color: var(--OrangeyYellowLight);
}

.summary-card-item-verbal {
    background-color: var(--GreenTealLight);
}

.summary-card-item-visual {
    background-color: var(--CobaltBlueLight);
}

.summary-card-item-text {
    display: flex;
    font-size: 16px;
    font-weight: lighter;

}

.Reaction {
    color: var(--LightRed);
}

.Memory {
    color: var(--OrangeyYellow);
}

.Verbal {
    color: var(--GreenTeal);
}

.Visual {
    color: var(--CobaltBlue);
}


.summary-card-item-score {

}

.summary-card-button {
    text-align: center;
    background-color: var(--DarkGrayBlue);
    padding: 13px 17px;
    color: var(--White);
    border-radius: 30px;
}

.summary-card-button:hover {
    background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    cursor: pointer;
}